.about {
    margin-top: 30px;
    padding: 0 25px;

    &__main {
        &-title {
            font-size: medium;
            color: #fff;
        }

        &-content {
            font-size: small;
            color: #fff;
            margin: 8px 0;
        }
    }
}